{% extends "rheas_viewer/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_navigation_items%}
<li class="active">Vic Plot</li>
{% endblock %}

{% block app_content%}
<h1>VIC PLOT</h1>

<!--{% gizmo plot_view timeseries_plot %}-->

<h1 style="color:red">{{error_message}}</h1>
</div>
<script>
    //Hiding the deafult tethys page styling
    $(function(){
        $('#app-content-wrapper').removeClass('show-nav');
        $('.tethys-app-header').hide();
    });
</script>
{% endblock %}